<mat-card>
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content>

            <form [formGroup]="user" (ngSubmit)="onSubmit()">

                  <mat-list>

                        <mat-list-item>
                                    <mat-form-field>
                                          <input matInput type="text" placeholder="First Name" formControlName="firstName">
                                          <mat-error *ngIf="user.controls.firstName.invalid && user.controls.firstName.dirty">
                                                Invalid first name
                                          </mat-error>
                                    </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                                    <mat-form-field>
                                          <input matInput type="text" placeholder="Last Name" formControlName="lastName">
                                          <mat-error *ngIf="user.controls.lastName.invalid && user.controls.lastName.dirty">
                                                Invalid Last Name
                                          </mat-error>
                                    </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                                    <mat-form-field>
                                          <input matInput type="text" placeholder="email address" formControlName="emailAddress">
                                          <mat-error *ngIf="user.controls.emailAddress.invalid && user.controls.emailAddress.dirty">
                                                Invalid email address
                                          </mat-error>
                                    </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                                    <mat-form-field>
                                          <input matInput type="password" placeholder="password" formControlName="password">
                                          <mat-error *ngIf="user.controls.password.invalid && user.controls.password.dirty">
                                                Invalid password
                                          </mat-error>
                                    </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                              <button *ngIf="!loading" mat-button [disabled]="user.invalid">Sign Up</button>
                              <mat-spinner *ngIf="loading"></mat-spinner>
                        </mat-list-item>

                  </mat-list>

            </form>

      </mat-card-content>

</mat-card>